:root {
    /* --mainColor: #C21010; */
    --mainColor: #7D0205;
    --mainColorlight: #E64848;
    --secondaryColor: #CFE8A9;
    --textColor: #FFFDE3;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
} */