:root {
    --mainColor: #7D0205;
    --mainColorlight: #E64848;
    --secondaryColor: #CFE8A9;
    --textColor: #FFFDE3;
}

.input_Container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
    border: none;
}

.input,
.select,
.btn {
    padding: 1rem 3rem;

}

@media only screen and (max-width: 680px) {

    .input,
    .select,
    .btn {
        padding: 0.4rem;

    }


}