.contactContainer {
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.contactInformation {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formSection {
    width: 45%;
}

.formSection Button {
    margin: 0.4rem 10px;
}

.mapSection {
    width: 45%;
}

.formSection-form {
    width: 90%;
}

.textarea {
    margin-left: 10px;
}

.mapSection iframe {
    width: 100%;
    height: 21rem;
}


@media only screen and (max-width: 790px) {
    .formSection {
        width: 90%;
        margin: auto;
    }

    .mapSection {
        width: 90%;
        margin: auto;
    }

    .mapSection iframe {
        width: 100%;
        height: 19rem;
    }
}

@media only screen and (max-width: 560px) {
    .contactInformation {
        display: flex;
        flex-direction: column;
    }

    .formSection {
        width: 80%;
        margin: auto;
    }

    .mapSection {
        margin-top: 2rem;
        width: 90%;
        margin: auto;
    }
}

@media only screen and (max-width: 490px) {

    .contactInformation {
        display: flex;
        flex-direction: column;
    }

    .formSection {
        width: 100%;
        margin: auto;
        margin-bottom: 1rem;

    }

    .mapSection {
        width: 100%;
        margin: auto;
    }

    .mapSection iframe {
        width: 100%;
        height: 15rem;
    }



}